.titleSpace {
    background-color: #f9f9f9;
    color: #111111;
}
.titleSpace h1 {
    text-align: center;
}

.graphSpace {
    background-color: #ebecee;
}

.controlSpace {
    background-color: #f1f1f1;
    color: #111111;
}

#divFormulaDefinicion {
    background-color: #f1f1f1;
}